<% layout("layout") -%>
<div class="jumbotron text-center">
	<h1>Profile</h1>
    <a href="/logout" class="btn btn-default">Logout</a>
</div>

<div class="row">

<h3>Local Account</h3>
<ul>
	<% if (user.local.email) { %>
		<li>Email: <%= user.local.email %></li>
		<li>Password: <%= user.local.password %></li>
		<li><a href="/disconnect/local">Disconnect account</a></li>
	<% } else { %>
		<li><a href="/connect/local">Connect a local account</a></li>
	<% } %>
</ul>

<h3>Facebook Account</h3>
<ul>
	<% if (user.facebook.id) { %>
		<li>ID: <%= user.facebook.id %></li>	
		<li>Email: <%= user.facebook.email %></li>
		<li>Token: <%= user.facebook.token %></li>
		<li><a href="/disconnect/facebook">Disconnect account</a></li>		
	<% } else { %>
		<li><a href="/connect/facebook">Connect a Facebook account</a></li>
	<% } %>
</ul>

</div>